<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-button class="ion-margin" (click)="getDeviceInfo()">Get Device Info</ion-button>

@if (deviceInfo) {
<ion-card class="ion-margin">
 <ion-card-header>
   <ion-card-title>Device Information</ion-card-title>
 </ion-card-header>
 <ion-card-content>
   <p><strong>Model:</strong> {{deviceInfo.model}}</p>
   <p><strong>Platform:</strong> {{deviceInfo.platform}}</p>
   <p><strong>Operating System:</strong> {{deviceInfo.operatingSystem}}</p>
   <p><strong>OS Version:</strong> {{deviceInfo.osVersion}}</p>
   <p><strong>Manufacturer:</strong> {{deviceInfo.manufacturer}}</p>
 </ion-card-content>
</ion-card>
}
</ion-content>
